<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/head.ejs') %>

    <body>
        <%- include('../layouts/navigation.ejs') %>

        <main>
            <% if(products.length> 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p=> { %>
                <li class="cart__item">
                    <div class="centered">
                        <div class="cart_product_title">
                            <h2><%= p.productId.title %></h2>
                        </div>

                        <div class="cart_product_quantity">
                            <h2>(<%= p.quantity %>)</h2>
                        </div>
                        <div class="cart_product_action">
                            <form action="/cart-delete-item" method="POST">
                                <input
                                    type="hidden"
                                    value="<%= csrfToken %>"
                                    name="_csrf"
                                />
                                <input
                                    type="hidden"
                                    name="productId"
                                    value="<%= p.productId._id %>"
                                />
                                <button class="btn" type="submit">
                                    DELETE
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            <div class="centered">
                <a class="btn" href="/checkout">Order Now!</a>
            </div>
            <% } else { %>
            <h1>No products in Cart!</h1>
            <% } %>
        </main>
    </body>
</html>
